interactions:
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/event/get?id=evt-OlQU8n0zzhDZc7A
  response:
    body:
      string: "{\"event\":{\"id\":\"evt-OlQU8n0zzhDZc7A\",\"calendar_id\":\"cal-G6RucUfw1nBs8qT\",\"user_id\":\"usr-Tw1bycXxO8mdP8w\",\"created_at\":\"2024-08-11T23:05:21.577Z\",\"cover_url\":\"https://images.lumacdn.com/event-covers/x7/d4b5408a-fa16-457a-a7ca-dbc462b55d2f\",\"name\":\"\U0001F389
        AI-Agents Networking + Launch Party! Fetch.ai Innovation Lab\",\"description\":\"We
        warmly welcome you to the AI-Agents Networking + Launch Party of Fetch.ai
        Innovation Lab!\\nDiscover the world of AI Agents powered by Fetch.ai at the
        Zo House this Friday!\\nJoin us for great conversations, rapid-fire lightning
        pitches,  food, and quality networking opportunities with Web3 Series A founders,
        active VC's and angel investors.\\nThis is the perfect chance to connect with
        like-minded individuals and industry leaders.\\n\\nRun by Young Entrepreneurs
        Hub \U0001F3DD\uFE0F (reach out!)\\n\\nAgenda\\n7:00 - 8:00 Networking w/
        food & bev\\n8:00 - 8:20 Introduction to Fetch.ai Innovation Lab\\n8:20 -
        8:40 Lighting pitches by Sanket, Tanay,\u2060 Parth, Natesh and Madhura\\n8:40
        - 10:00 Networking\\n\\nHosts\\nFetch.ai is the leading platform for creating
        on-chain AI agents. Fetch empowers developers to build, deploy, and monetize
        AI applications using its agent-based infrastructure.\\nYoung Entrepreneurs
        Hub \U0001F3DD\uFE0F is Silicon Valley's fastest growing tech community builder!
        Join or partner today! Member? We do events + matchmaking programs. Partner?
        We build & operate  communities as a service. Apply to join the private slack
        channel!\\n\\nZo House is a real life space built for creators, collectors,
        and NFT enthusiasts to work, live, socialize, and network, bending the boundaries
        of Metaverse and Universe.\",\"description_md\":\"# \u200BWe warmly welcome
        you to the AI-Agents Networking + Launch Party of [Fetch.ai](http://Fetch.ai)
        Innovation Lab!\\n\\nDiscover the world of AI Agents powered by [Fetch.ai](http://Fetch.ai)
        at the [Zo House](https://zo.xyz/house) this Friday!\\n\\n\u200BJoin us for
        great conversations, rapid-fire lightning pitches, food, and quality networking
        opportunities with Web3 Series A founders, active VC's and angel investors.\\n\\n\u200BThis
        is the[...]
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/event/get-guest?event_id=evt-OlQU8n0zzhDZc7A&id=gst-RfpTVyE4hInUucp
  response:
    body:
      string: '{"guest":{"id":"gst-RfpTVyE4hInUucp","user_id":"usr-Dm1yj3LITLHddjM","api_id":"gst-RfpTVyE4hInUucp","approval_status":"approved","created_at":"2024-08-20T00:58:29.707Z","custom_source":null,"eth_address":null,"invited_at":"2024-08-20T00:58:29.706Z","joined_at":null,"phone_number":"+14152181509","registered_at":"2024-08-20T01:12:33.786Z","registration_answers":[],"solana_address":null,"user_api_id":"usr-Dm1yj3LITLHddjM","user_name":"Irina","user_first_name":"Irina","user_last_name":"Bulygina","user_email":"irinabulygina@gmail.com","checked_in_at":"2024-08-24T02:23:50.525Z","check_in_qr_code":"https://luma.com/check-in/evt-OlQU8n0zzhDZc7A?pk=g-m5I01LufYhlINA0","event_tickets":[{"id":"eventticket-FEpGlwCU8JKXPOu","amount":0,"amount_discount":0,"amount_tax":0,"api_id":"eventticket-FEpGlwCU8JKXPOu","currency":null,"event_ticket_type_id":"evtticktyp-posquYIRcXuoKRW","name":"Standard","checked_in_at":"2024-08-24T02:23:50.525Z","is_captured":false}],"event_ticket":{"id":"eventticket-FEpGlwCU8JKXPOu","amount":0,"amount_discount":0,"amount_tax":0,"api_id":"eventticket-FEpGlwCU8JKXPOu","currency":null,"event_ticket_type_id":"evtticktyp-posquYIRcXuoKRW","name":"Standard","checked_in_at":"2024-08-24T02:23:50.525Z","is_captured":false},"event_ticket_orders":[{"amount":0,"amount_discount":0,"amount_tax":0,"api_id":"evttktord-teeabIlVdaoyEhc","coupon_info":null,"currency":"usd","id":"evttktord-teeabIlVdaoyEhc","is_captured":false}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
