interactions:
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/event/get?id=evt-DXHV4IC8LpKP9c3
  response:
    body:
      string: '{"event":{"id":"evt-DXHV4IC8LpKP9c3","calendar_id":"cal-IRBoHUYtIspMAcC","user_id":"usr-wKh8IS2kqovhOys","created_at":"2026-03-16T19:23:40.336Z","cover_url":"https://images.lumacdn.com/gallery-images/9q/b4220b16-8c45-40a8-bb89-5a63d11523b5","name":"testing
        event","description":"","description_md":"","start_at":"2026-03-16T19:30:00.000Z","duration_interval":"P0Y0M0DT361H0M0S","end_at":"2026-03-31T20:30:00.000Z","geo_address_json":null,"geo_latitude":null,"geo_longitude":null,"url":"https://luma.com/f9gudaj1","registration_questions":[],"timezone":"America/Los_Angeles","visibility":"public","meeting_url":null,"feedback_email":{"enabled":false},"zoom_meeting_url":null,"api_id":"evt-DXHV4IC8LpKP9c3","calendar_api_id":"cal-IRBoHUYtIspMAcC","user_api_id":"usr-wKh8IS2kqovhOys","tags":[]},"hosts":[{"api_id":"usr-wKh8IS2kqovhOys","email":"ryan.tran@fetch.ai","name":"Ryan
        Tran","first_name":"Ryan","last_name":"Tran","avatar_url":"https://cdn.lu.ma/avatars-default/avatar_34.png","id":"usr-wKh8IS2kqovhOys"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"event_api_id": "evt-DXHV4IC8LpKP9c3", "guests": [{"email": "test@example.com",
      "name": "Test User"}]}'
    headers:
      Content-Type:
      - application/json
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: POST
    uri: https://public-api.luma.com/v1/event/add-guests
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
