interactions:
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/event/get?id=evt-eJuh3dgMEiJ2MUj
  response:
    body:
      string: '{"event":{"id":"evt-eJuh3dgMEiJ2MUj","calendar_id":"cal-G6RucUfw1nBs8qT","user_id":"usr-Tw1bycXxO8mdP8w","created_at":"2024-08-11T23:16:21.193Z","cover_url":"https://images.lumacdn.com/event-covers/ep/445730cd-01e8-42ab-93cf-4428869f0228","name":"AI
        Agents for Entrepreneurs","description":"","description_md":"","start_at":"2024-09-04T00:00:00.000Z","duration_interval":"P0Y0M0DT3H0M0S","end_at":"2024-09-04T03:00:00.000Z","geo_address_json":{"address":"300
        4th St","city":"San Francisco","region":"California","country":null,"city_state":"San
        Francisco, California","full_address":"300 4th St, San Francisco, CA 94107,
        USA","google_maps_place_id":"ChIJ3WvjHH6AhYARsa7_5nt170s","apple_maps_place_id":null,"description":""},"geo_latitude":"37.78176","geo_longitude":"-122.401198","url":"https://luma.com/fzi1kdh7","registration_questions":[],"timezone":"America/Los_Angeles","visibility":"private","meeting_url":null,"feedback_email":{"enabled":false},"zoom_meeting_url":null,"api_id":"evt-eJuh3dgMEiJ2MUj","calendar_api_id":"cal-G6RucUfw1nBs8qT","user_api_id":"usr-Tw1bycXxO8mdP8w","tags":[]},"hosts":[{"api_id":"usr-Tw1bycXxO8mdP8w","email":"events@fetch.ai","name":"Fetch.ai
        Innovation Lab","first_name":"events","last_name":"fetch","avatar_url":"https://images.lumacdn.com/avatars/pg/0913cb66-4959-4288-9f45-32c2b59d8e69","id":"usr-Tw1bycXxO8mdP8w"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
