interactions:
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/event/get-guest?event_id=evt-OlQU8n0zzhDZc7A&id=gst-RfpTVyE4hInUucp
  response:
    body:
      string: '{"guest":{"id":"gst-RfpTVyE4hInUucp","user_id":"usr-Dm1yj3LITLHddjM","api_id":"gst-RfpTVyE4hInUucp","approval_status":"approved","created_at":"2024-08-20T00:58:29.707Z","custom_source":null,"eth_address":null,"invited_at":"2024-08-20T00:58:29.706Z","joined_at":null,"phone_number":"+14152181509","registered_at":"2024-08-20T01:12:33.786Z","registration_answers":[],"solana_address":null,"user_api_id":"usr-Dm1yj3LITLHddjM","user_name":"Irina","user_first_name":"Irina","user_last_name":"Bulygina","user_email":"irinabulygina@gmail.com","checked_in_at":"2024-08-24T02:23:50.525Z","check_in_qr_code":"https://luma.com/check-in/evt-OlQU8n0zzhDZc7A?pk=g-m5I01LufYhlINA0","event_tickets":[{"id":"eventticket-FEpGlwCU8JKXPOu","amount":0,"amount_discount":0,"amount_tax":0,"api_id":"eventticket-FEpGlwCU8JKXPOu","currency":null,"event_ticket_type_id":"evtticktyp-posquYIRcXuoKRW","name":"Standard","checked_in_at":"2024-08-24T02:23:50.525Z","is_captured":false}],"event_ticket":{"id":"eventticket-FEpGlwCU8JKXPOu","amount":0,"amount_discount":0,"amount_tax":0,"api_id":"eventticket-FEpGlwCU8JKXPOu","currency":null,"event_ticket_type_id":"evtticktyp-posquYIRcXuoKRW","name":"Standard","checked_in_at":"2024-08-24T02:23:50.525Z","is_captured":false},"event_ticket_orders":[{"amount":0,"amount_discount":0,"amount_tax":0,"api_id":"evttktord-teeabIlVdaoyEhc","coupon_info":null,"currency":"usd","id":"evttktord-teeabIlVdaoyEhc","is_captured":false}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
