interactions:
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/calendar/list-events
  response:
    body:
      string: "{\"entries\":[{\"api_id\":\"evt-OlQU8n0zzhDZc7A\",\"event\":{\"id\":\"evt-OlQU8n0zzhDZc7A\",\"calendar_id\":\"cal-G6RucUfw1nBs8qT\",\"user_id\":\"usr-Tw1bycXxO8mdP8w\",\"created_at\":\"2024-08-11T23:05:21.577Z\",\"cover_url\":\"https://images.lumacdn.com/event-covers/x7/d4b5408a-fa16-457a-a7ca-dbc462b55d2f\",\"name\":\"\U0001F389
        AI-Agents Networking + Launch Party! Fetch.ai Innovation Lab\",\"description\":\"We
        warmly welcome you to the AI-Agents Networking + Launch Party of Fetch.ai
        Innovation Lab!\\nDiscover the world of AI Agents powered by Fetch.ai at the
        Zo House this Friday!\\nJoin us for great conversations, rapid-fire lightning
        pitches,  food, and quality networking opportunities with Web3 Series A founders,
        active VC's and angel investors.\\nThis is the perfect chance to connect with
        like-minded individuals and industry leaders.\\n\\nRun by Young Entrepreneurs
        Hub \U0001F3DD\uFE0F (reach out!)\\n\\nAgenda\\n7:00 - 8:00 Networking w/
        food & bev\\n8:00 - 8:20 Introduction to Fetch.ai Innovation Lab\\n8:20 -
        8:40 Lighting pitches by Sanket, Tanay,\u2060 Parth, Natesh and Madhura\\n8:40
        - 10:00 Networking\\n\\nHosts\\nFetch.ai is the leading platform for creating
        on-chain AI agents. Fetch empowers developers to build, deploy, and monetize
        AI applications using its agent-based infrastructure.\\nYoung Entrepreneurs
        Hub \U0001F3DD\uFE0F is Silicon Valley's fastest growing tech community builder!
        Join or partner today! Member? We do events + matchmaking programs. Partner?
        We build & operate  communities as a service. Apply to join the private slack
        channel!\\n\\nZo House is a real life space built for creators, collectors,
        and NFT enthusiasts to work, live, socialize, and network, bending the boundaries
        of Metaverse and Universe.\",\"description_md\":\"# \u200BWe warmly welcome
        you to the AI-Agents Networking + Launch Party of [Fetch.ai](http://Fetch.ai)
        Innovation Lab!\\n\\nDiscover the world of AI Agents powered by [Fetch.ai](http://Fetch.ai)
        at the [Zo House](https://zo.xyz/house) this Friday!\\n\\n\u200BJoin us for
        great conversations, rapid-fire lightning pitches, food, and quality networking
        opportunities with Web3 Series A founders, active VC's and angel investors.\\n\\n\u200BThis
        is the[...]
- request:
    body: null
    headers:
      x-luma-api-key:
      - XXXXXXXXX REDACTED XXXXXXXXX
    method: GET
    uri: https://public-api.luma.com/v1/calendar/list-events?pagination_cursor=eyJzdiI6IjIwMjUtMTEtMDUgMDk6MzA6MDArMDAiLCJmYiI6ImV2dC1uejcwME5TdUduUmFKTzQifQ
  response:
    body:
      string: "{\"entries\":[{\"api_id\":\"evt-t5fVsw125ezzJvw\",\"event\":{\"id\":\"evt-t5fVsw125ezzJvw\",\"calendar_id\":\"cal-G6RucUfw1nBs8qT\",\"user_id\":\"usr-Tw1bycXxO8mdP8w\",\"created_at\":\"2025-0[...]
